extends layout

block content
	body
		.container
			input.input-lg.full-width(type="text" id="sheetUrl" placeholder="Enter Publicly Shared Google Sheet URL")
			div.full-width.center
				i.fa.fa-table(id="sheetUrlLink")
			br
			input.input-lg.full-width(type="text" id="queryString" placeholder="Enter Query String")
			br
			br
			select.input-lg.full-width(name="templateSelect" id="templateSelect" autofocus="true")
				option(id="default" value="" disabled selected) select template
				option(id="pie" value="pie" label="pie")
				option(id="sankey" value="sankey" label="sankey")			
			div.full-width.center()
				a(id="documentationUrlLink")
					i.fa.fa-book		
			.jumbotron				
				p					
					textarea.input-lg.full-width(rows="50" cols="100" wrap="hard" id="graphScript" placeholder="Write Some Code Here!")
					br
				p
					a.btn.btn-lg.btn-success(href='#', role='button', id="getSome") Get Some
		.container.col-centered
			#chart_div.col-centered

block additional_js	
	script(type="text/javascript" charset="utf-8").
		$(document).ready( function() {

			$('#getSome').on('click', function() {
				var graphScriptJs = $('#graphScript').val();
				//TODO - Write a "cleaning" function to make sure whatever user types is safe
				eval(graphScriptJs);
				var sheetUrl = $('#sheetUrl').val();
				var queryString = $('#queryString').val();				
				retrieveSheetData(sheetUrl, queryString);
				$('html, body').animate({ scrollTop: $('#chart_div').offset().top }, 'slow');
			});

			$('#sheetUrlLink').on('click', function() {
				var sheetUrl = $('#sheetUrl').val();
				window.open(sheetUrl);
			});

			$('#templateSelect').on('change', function() {
				var choice = $(this).val();				
				var url = ""+choice+".json";
				$.ajax({	
					"type": "GET",
					"url": url
				}).success(function(data) {
					var template = data;
					$('#sheetUrl').val(template.sheetUrl);
					$('#queryString').val(template.queryString);					
					$('#documentationUrlLink').attr('href',template.documentationUrl);					
					$('#documentationUrlLink').attr('target','_blank');					
					var templateJs = template.jsFile;
					$.ajax({
						"type": "GET",
						"url": templateJs
					}).success(function(jsData) {						
						$("#graphScript").val(jsData);
					}).error(function(jsErr) {
						console.log('jsErr');
						console.log(jsErr);
					});
				}).error(function(err) {
					console.log("err!");
					console.log(err);
				});
			});
			
		});
