extends layout

block leftBar
	h3.center Google Sheets CMS
		form(method='post', action='http://jsfiddle.net/api/post/mootools/1.2/dependencies/more/', target='check')
			input.input-lg.full-width(type="text" id="sheetUrl" placeholder="Sheet URL")
			div.full-width.center
				i.fa.fa-table(id="sheetUrlLink")
			br
			input.input-lg.full-width(type="text" id="queryString" placeholder="Range")
			br
			br
			select.input-lg.full-width(name="templateSelect" id="templateSelect" autofocus="true")
				option(id="default" value="" disabled="disabled" selected="selected") select template
				option(id="pie" value="pie" label="pie") pie
				option(id="sankey" value="sankey" label="sankey") sankey
				option(id="sankeyWithTooltips" value="sankeyWithTooltips" label="sankeyWithTooltips") sankeyWithTooltips
				option(id="bigquery" value="bigquery" label="bigquery") bigquery			
				option(id="bitcoin" value="bitcoin" label="bitcoin") bitcoin
				option(id="google" value="google" label="google") google			
			a(id="documentationUrlLink")
				i.fa.fa-book
			br
			br
			br
			a.btn.btn-lg.btn-success(href='#', role='button', id="getSome") Generate!
			br
			br
			a.btn.btn-lg.btn-primary(type="submit", id="jsFiddle") jsFiddle

block additional_js
	script(type="text/javascript" charset="utf-8").
		$(document).ready( function() {

			$('#getSome').on('click', function() {
				var graphScriptJs = $('#graphScript').val();
				//TODO - Write a "cleaning" function to make sure whatever user types is safe
				eval(graphScriptJs);
				var sheetUrl = $('#sheetUrl').val();
				var queryString = $('#queryString').val();
				retrieveSheetData(sheetUrl, queryString);
				$('html, body').animate({ scrollTop: $('#chart_div').offset().top }, 'slow');
				showEmbedLink();

				$('#postGetSome').css('display','block');
				$('#postGetSome').focus();
			});

			$('#saveButton').on('click', function() {
				var hash = Math.random().toString(36).replace(/[^a-z]+/g, '').substr(0, 5);
				$('#saveName').val(hash);
				$('html, body').animate({ scrollTop: $('#saveName').offset().top }, 'slow');

			});

			$('#sheetUrlLink').on('click', function() {
				var sheetUrl = $('#sheetUrl').val();
				window.open(sheetUrl);
			});

			$('#templateSelect').on('change', function() {
				var choice = $(this).val();
				var url = ""+choice+".json";
				$.ajax({
					"type": "GET",
					"url": url
				}).success(function(data) {
					var template = data;
					$('#sheetUrl').val(template.sheetUrl);
					$('#queryString').val(template.queryString);
					$('#documentationUrlLink').attr('href',template.documentationUrl);
					$('#documentationUrlLink').attr('target','_blank');
					var templateJs = template.jsFile;
					$.ajax({
						"type": "GET",
						"url": templateJs
					}).success(function(jsData) {
						$("#graphScript").val(jsData);
					}).error(function(jsErr) {
						console.log('jsErr');
						console.log(jsErr);
					});
					$('#getSome').focus();
				}).error(function(err) {
					console.log("err!");
					console.log(err);
				});
			});


			var showEmbedLink = function() {
				$('#embedButton').css('display','block');
				//TODO - Make a way to let users embed this new graphic
			};
		});
